//- những đoạn code lặp đi lặp lại nhiều lần
mixin ListItem(title = "default title", caption)
	li.list-item 
		h2.list-title= title 
		if caption 
			span.list-caption= caption 
			//- giống slot, điền thêm đoạn html mà k khai báo trong mixin
		if block
			block

mixin menuLink(title, link="#")
	li.header-menu-item
		a.header-menu-link(href=link)=title

mixin headerTab(number, text)
	.header-tab-item
		span.header-tab-title=  number 
		span.header-tab-content= text

//- header của mỗi block
mixin blockBox(caption, title, desc)
	.block-box
		h3.block-box-caption= caption
		h2.block-box-title= title
		if desc 
			p.block-box-desc= desc

mixin aboutItem(src, title, icon, alt="")
	li.about-item
		img.about-image(src= src, alt= alt)
		.about-content
			i.about-icon(class = icon)
			p.about-text= title 

mixin serviceItem(icon, title, content)
	.service-item
		img.service-image(src= icon)
		.service-content
			h4.service-title= title
			p.service-desc= content

mixin wedoItem(icon, title, content, active="")
	.wedo-item(class=active)
		.wedo-item-header
			img(src= icon, alt="").wedo-item-icon
			h3.wedo-item-title= title
			i.fal.fa-angle-up.wedo-item-arrow
		.wedo-item-content
			.wedo-item-text= content